@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
.nav , .new{
    background-color: rgb(221, 228, 228) !important;
}
.new{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.logout{
  border: none;
}
.heading h4{
    color:rgb(130, 169, 213);
     font-size: 30px;
     padding-top: 10px;
     font-family: "Poppins";
    }
    .head {
      
  font-family: "Poppins";
}

.main{
    border: 1px solid rgb(211, 207, 207);
    text-align: center;
    margin-top: 60px;
    width: 350px;
    margin-left:520px ;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 15px;
    height:350px
}
.email{
    padding:10px;
    text-align: center;
    font-size: 20px;
}
.pass{
    padding:10px;
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    

}
input{
    border: 1px solid rgba(164, 162, 215, 0.71);
    outline: none;
    width: 250px;
    height:40px
    
    
    
}

.btn:hover{
    outline: none;
    /* overflow: hidden; */
    transition: .2s;
    border: none;
    background-color: rgb(43, 58, 226);

    
}
.details{
    text-align: center;
    margin-top: 20px;
    color: rgb(45, 49, 51);
 
}

/* LOGOUT */
.logout{
    font-family: "Poppins";
    background-color: transparent;
    font-size: 20px;

}
                                 
/* FORM */

.main{
    border: 1px solid rgb(211, 207, 207);
    text-align: center;
    margin-top: 60px;
    width: 350px;
    margin-left:520px ;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 15px;
    height:350px
}
.email{
    padding:10px;
    text-align: center;
    font-size: 20px;
}
.pass{
    padding:10px;
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    

}
input{
    border: 1px solid rgba(164, 162, 215, 0.71);
    outline: none;
    width: 250px;
    height:40px
    
    
    
}

.btn:hover{
    outline: none;
    /* overflow: hidden; */
    transition: .2s;
    border: none;
    background-color: rgb(43, 58, 226);

    
}
                                                      /* LOGIN CSS */
.sign-main{
    border: 1px solid rgb(211, 207, 207);
    text-align: center;
    margin-top: 40px;
    width: 370px;
    margin-left:570px ;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 15px;
    font-family: Poppins;
    height:620px

}
.new-main{
    border: 1px solid rgb(211, 207, 207);
    text-align: center;
    margin-top: 40px;
    width: 370px;
    margin-left:570px ;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 15px;
    height:800px !important;
    font-family: Poppins;

}
.fname,.lname{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.sch{
    border: 1px solid rgba(164, 162, 215, 0.71);
    outline: none;
    width: 250px;
    height:40px
   
}



.available_classes{
    margin: 0 auto;
    margin-top: 30px;
    width: 1200px;
}
.classes_div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}
.classes_div div{
    width: 150px;
    height: 100px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow:0 0 10px rgba(6, 6, 6, 0.141)  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}
.classes_div div span{
    font-size: 12px;
    color: gray;
}
.classes_div div button{
    font-size: 12px;
    color: gray;
    margin-top: 5px;
    border-radius: 5px;
}



.loader {
    border: 4px solid #a4a4a4 !important; /* Light grey */
    border-top: 4px solid #1d1d1d !important; /* Blue */
    border-radius: 50%;
    width: 60px !important;
    height: 60px !important;
    animation: spin 2s linear infinite !important;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* QUERIES */

